<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.bakhir.wasteRecycling.dAO.IIncinerationFactoryDao">
	<resultMap type="IncinerationFactory" id="IncinerationFactoryResultMap" autoMapping="false">
		<id column="id" property="id" />
		<result column="number_employees" property="numberEmployees" />
		<result column="name" property="name" />
		<association property="adress" column="adress_id" javaType = "com.bakhir.wasteRecycling.models.Adress" select = "com.bakhir.wasteRecycling.dAO.IAdressDao.getById" />
	</resultMap>
	<select id="getById" parameterType="java.lang.Long"
		resultMap="IncinerationFactoryResultMap" >
		select in.id, in.number_employees, in.name, in.adress_id, ad.id, ad.coutry, ad.region, ad.city, ad.street, ad.number, ad.zip_code from incineration_factory in LEFT JOIN adress ad ON in.adress_id=ad.id  where in.id =#{id}
	</select>
	<update id="update" parameterType="IncinerationFactory">
        UPDATE incineration_factory
        SET number_employees = #{numberEmployees}, name = #{name}, adress_id = #{adress.id}
        WHERE id = #{id}
    </update>
	<insert id="insert" parameterType="IncinerationFactory" keyProperty="id" useGeneratedKeys="true">
	  insert into incineration_factory (number_employees, name, adress_id)
	  values (#{numberEmployees},#{name},#{adress.id} )
	</insert>
	<delete id="delete" parameterType="java.lang.Long">
		delete incineration_factory
		WHERE id = #{id}
	</delete>
	
	
</mapper>