<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.bakhir.wasteRecycling.dAO.IWasteRecyclingFactoryDao">
	<resultMap type="WasteRecyclingFactory" id="WasteRecyclingFactoryResultMap" autoMapping="false">
		<id column="id" property="id" />
		<result column="number_employees" property="numberEmployees" />
		<result column="name" property="name" />
		<association property="adress" column="adress_id" javaType = "com.bakhir.wasteRecycling.models.Adress" select = "com.bakhir.wasteRecycling.dAO.IAdressDao.getById" />
	</resultMap>
	<select id="getById" parameterType="java.lang.Long"
		resultMap="WasteRecyclingFactoryResultMap" >
		select wa.id, wa.number_employees, wa.name, wa.adress_id, ad.id, ad.coutry, ad.region, ad.city, ad.street, ad.number, ad.zip_code from waste_recycling_factory wa LEFT JOIN adress ad ON wa.adress_id=ad.id  where wa.id =#{id}
	</select>
	<update id="update" parameterType="WasteRecyclingFactory">
        UPDATE waste_recycling_factory
        SET number_employees = #{numberEmployees}, name = #{name}, adress_id = #{adress.id}
        WHERE id = #{id}
    </update>
	<insert id="insert" parameterType="WasteRecyclingFactory" keyProperty="id" useGeneratedKeys="true">
	  insert into waste_recycling_factory (number_employees, name, adress_id)
	  values (#{numberEmployees},#{name},#{adress.id} )
	</insert>
	
	
</mapper>